.cart-box {
    border-radius: 10px;
    background-color: #efefef;
    padding: 10px;
}

.pd-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.m-box {
    overflow: hidden;
}

.price-txt {
    color: #f57224;
}

.btn-rm {
    font-weight: bold;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #ff5454;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}

.btn-add {
    font-weight: bold;
    cursor: pointer;
    height: 25px;
    width: 25px;
    background-color: #18cc00;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    color: #ffffff;
}

.cart-act-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.remove-icon {
    color: #ff5454;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.summary-box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.checkout-box {
    text-align: center;
    padding-top: 10px;
}

.display-none {
    display: none;
}

.cart-empty {
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
}