.pd-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.price-txt {
    color: #f57224;
}

.qty {
    color: #00cc0a;
}

.qty-0 {
    color: #db2525;
}

.btn-cart-box {
    text-align: center;
    margin-top: 14px;
}

.ct-bg {
    background-color: #fbfbfb;
}

.col-pd {
    padding: 10px;
}

.price-ct {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.empty {
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
}