.smo-box {
    border-radius: 10px;
    background-color: #f3f3f3;
    padding: 10px;
}

.center {
    text-align: center;
}

.no-bd {
    border-top: none !important;
}

.txt-right {
    text-align: right;
}

.summary-empty {
    text-align: center;
}

.center-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 50vh;
}